<%= form_tag articles_path, method: "GET",data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit"} do %>
    <%= text_field_tag "query", nil, placeholder: "Search ..." %>
    <%= submit_tag "Search" %>
<% end %>


<% @articles.each do |article| %>
<div class="my-6">
  <%=  turbo_frame_tag "search-results" do %>
    <%= render "articles",  article: article  %>
  <% end %>
</div>
<% end %>
<%= link_to "New article", new_article_path, class: "px-4 py-3 font-medium bg-orange-300 text-neutal-900 rounded inline-flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
