<div class="px-6 w-full mr-6 mt-12 ">
<%= form_tag articles_path, method: "GET", remote: true ,data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit"} do %>
    <%= text_field_tag "query", nil, placeholder: "Search ..." %>
    <%= submit_tag "Search" %>
<% end %>


<div class="my-6">
  <%=  turbo_frame_tag "search-results" do %>
    <%= render "articles",  articles: @articles  %>
  <% end %>
</div>

<%= link_to "New article", new_article_path, class: " px-6 py-2.5 mb-6 mt-6 w-1/3 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
</div>